.app-title {
	margin-top: 10px;
}

.title-line {
	color: dodgerblue;
	border-top: 1px solid dodgerblue;
}

.add-box {
	border:1px lightgrey solid;
	padding: 2rem;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.add-text {
	padding: 1rem;
}

.add-button {
	margin-top: 1rem;
}

ul {
	list-style: none;
}

.clr-button {
	margin-bottom: 20px;
}

.group-done {
	padding-top: 20px;
}

.container {
	margin-top: 10px;
	height: 95vh;
}

.todo-items {
	padding-top: 15px;
}

input[type=checkbox].form-control {
	width: 25px;
	height: 25px;
	display: inline-block;
	vertical-align: -8px;
}

.edit-button {
	margin: -6px;
}

.done {
	text-decoration: line-through;
	color: #798087;
}

.item-done {
	background-color: #f7f8f9;
}