.app-title {
	margin-top: 10px;
}

.title-line {
	color: dodgerblue;
	border-top: 1px solid dodgerblue;
}

.add-box {
	border:1px lightgrey solid;
	padding: 2rem;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.add-text {
	padding: 1rem;
}

.add-button {
	margin-top: 1rem;
}

.done {
	text-decoration: line-through;
	color: #ccc;
}

ul {
	list-style: none;
}

.clr-button {
	margin-bottom: 20px;
}


/*
.todo-item {
	border-top: 1px solid lightgray;
	border-bottom: 1px solid lightgray;
	margin-left: 0;
	padding-left: 0;
}*/
