<!DOCTYPE html>
<html ng-app="ToDo">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>To Do App</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/app.css">
    
</head>
<body>
    <div class="container">
	 <div class="row">
		<hr class="title-line col-sm-6 col-sm-offset-3">
		<div class="col-sm-12">
			<h2 class="app-title text-center">Angular 1 To Do App</h2>
		</div>
		<hr class="title-line col-sm-6 col-sm-offset-3">
	 </div>
      <div ng-controller="todoController">
<!--        Add To Do Section-->
         <form class="form-group add-box" name="frm" ng-submit="addTodo()">
          <div class="row">
          
<!--          	To Do-->
           <div class="col-md-6">
            	<input class="input-lg add-text form-control"
            	placeholder="To Do..." 
            	type="text" name="newtodo" 
            	ng-model="newTodo.title" 
            	required />
            </div>
            
<!--            	Due Date-->
            <div class="col-md-6">
            	<div class='input-group date' id='datetimepicker'>
					<input class="input-lg form-control" 
					type='date' 
					date-formate="yyyy-mm-dd" 
					placeholder="Due Date..." 
					ng-model="new.Todo.date"  />
					<span class="input-group-addon">
						<span class="glyphicon glyphicon-calendar"></span>
					</span>
<!--           			<datepicker style="flex1" date-formate="yyyy-mm-dd"></datepicker>-->
            	</div>
			  </div>
           
            </div>
            <button class="add-button btn btn-success btn-large" ng-disabled="frm.$invalid">Add</button>
         </form>
<!--         Clear completed button-->
         <button class="btn btn-danger clr-button" ng-click="clearCompleted()">Clear Completed</button>
<!--         To Do Item Section-->
         <div class="panel panel-default">
         	<div class="panel-heading">My To Do's</div>
			 <ul class="list-group">
			 
				<li class="list-group-item" ng-repeat="todo in todos | filter:{ done: false } track by todo.id">
				   <input class="" type="checkbox" ng-model="todo.done" />
				   <span ng-class="{'done':todo.done}">{{todo.title}}</span>
				   <span ng-class="{'done':todo.done}">{{todo.date}}</span>
				   <a class="btn btn-danger pull-right" ng-click="removeTodo(todo)">Delete</a>
				   <a class="btn btn-default pull-right" 
				   data-toggle="modal" 
				   data-target="#editModal" 
				   ng-click="$scope.populateEditForm(todo)">Edit</a>
				</li>
				
				<li class="list-group-item" ng-repeat="todo in todos | filter:{ done: true } track by todo.id">
				   <input class="" type="checkbox" ng-model="todo.done" />
				   <span ng-class="{'done':todo.done}">{{todo.title}}</span>
				   <span ng-class="{'done':todo.done}">{{todo.date}}</span>
				   <a class="btn btn-danger pull-right" ng-click="removeTodo(todo)">Delete</a>
				   <a class="btn btn-default pull-right" 
				   data-toggle="modal" 
				   data-target="#editModal" 
				   ng-click="$scope.populateEditForm(todo)">Edit</a>
				</li>
			 </ul>
         </div>
      </div>
<!--      Edit Modal-->
    <div class="modal fade" id="editModal" role="dialog">
    	<div class="modal-dialog modal-lg">
		  <div class="modal-content">
			<div class="modal-header">
				<h2>Edit To Do</h2>
			</div>
			<div class="modal-body">
				<ul class="list-group">
					<li class="list-group-item">
					   <input class="form-control" type="checkbox" ng-model="$scope.editingTodo.done" />
					   <input class="form-control" type="text" ng-model="$scope.editingTodo.title"/>
					   <input class="form-control" type="date" ng-model="$scope.editingTodo.date"/>
					</li>
				 </ul>
			</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
				<button type="submit" class="btn btn-success" ng-click="$scope.sycnLocalStorage()">Save</button>
			</div>
		  </div>
		</div>
    </div>
      
    </div> <!-- Container -->

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-route.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.5.0/ui-bootstrap.min.js"></script>
  	
  	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular-animate.js"></script>
  	<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA="  crossorigin="anonymous"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/cuid/1.3.8/browser-cuid.min.js"></script>

    <script type="text/javascript" src="js/app.js"></script>
</body>
</html>
<!--panel-->
